PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/smart-farmer?retryWrites=true&w=majority
JWT_SECRET=supersecretjwtkeyforfarmerassistancesystem123!
OPENWEATHER_API_KEY=your_openweather_api_key_here
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
# Set to 'development' to bypass Firebase OTP verify with a mock verification code '123456'
NODE_ENV=development
